.projectSection {
  min-height: 100vh; 
  background-color: var(--primary-color-dark); 
  padding-top: 72px; /* Espaçamento no topo para acomodar o header fixo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}